form {
  margin: 20px;
}

label {
  display: block;
}

input {
  margin: 20px 0 0 20px;
}

input[type="checkbox"] {
  margin-left: 0;
}

button {
  display: block;
  max-width: 100px;
  margin: 20px;
  padding: 10px 20px;
}

span {
  color: red;
}